body{
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;


}
.center{
    display: flex;
    margin-bottom: 135px;
    background-image: url(shape-9.png);
    background-repeat: no-repeat;
    font: 500 100%/1.5 system-ui;
}
    h1{
        margin: 0%;
        padding-left: 10px;
        border-left-width: 4px;
        border-left: 5px solid rgb(7, 241, 241);
          
    }

.mission-2022{
    color: rgb(75, 194, 158);
    
}
.paragraph-photo{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top:10%;
    
       
}
 
    .paragraph-photo img{   
       height: 400px;
       box-shadow: 5px 5px 10px;
       border-radius: 10px 10px 10px 10px;
       margin-left: 5%;
           
    }
.explore{
   background-image: linear-gradient(rgb(35, 204, 35),rgb(171, 179, 182));
   border-radius: 5%;
   padding-left: 5%;
   padding-right: 5%;
   margin-right: 63%;
}
.in-2022{
    color: rgb(75, 194, 158); 
   
}
.my-mission{
    text-align: center;
    color:rgb(60, 96, 214);
    border-top-left-radius: 100%;
    
}
    .center-2{
            display: flex;
            
            margin-top: 50px;
            margin-bottom: 100px;
            padding-right: 100px;
            padding-left: 50px;
            padding-top: 100px;
            padding-bottom: 100px;
            background-image: url(shape-2.png);
            font: 500 100%/1.5 system-ui;
    }
.illustrator-1{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
   box-shadow: 1px 1px 10px;
   border-radius: 10px 20px 30px 40px;
   background-color: rgb(231, 213, 213);
}

    .illustrator-2{
        width: 50%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
       box-shadow: 1px 1px 10px;
       border-radius: 10px 20px 30px 40px;
       background-color: rgb(189, 228, 228); 
    }
    .illustrator-3{
        width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
   box-shadow: 1px 1px 10px;
   border-radius: 10px 20px 30px 40px;
   background-color: rgb(124, 127, 128);
    }
    
    .logo-photo{
        width: 80%;

    }

    .center-3{
       display:flex;  
        flex-basis:50%;
        padding: 2rem;
        grid-template-columns: 300px 1fr;
        gap: 1rem;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        font: 500 100%/1.5 system-ui;
        background-image: url(shape-1.png);
        background-repeat: no-repeat;
       

      
        

        
    }
    .paragraph-photo-2{    
        max-width: 35%;
        flex-basis:30%;
 
    }
    .documentation{
        background-image: linear-gradient(rgb(35, 204, 35),rgb(171, 179, 182));
   border-radius: 4%;
   margin-right: 280px;
   padding-left: 20px;

    }

    .center-4{
        display: flex;
        flex-basis:50%;
        padding-left: 20px;
        border-left-width: 20px;
        width: 60%;
        padding-left: 30%;
        padding-right: 80%;
        margin-top:12%;
        font: 500 100%/1.5 system-ui;
        background-image: url(shape-5.png);
        background-repeat: no-repeat;
       
    }
    h2{
        font-size: 30px;
    }
    .paragraph-photo-3{
        max-width: 35%;
        flex-basis:30%;
        

    }
    .documentation-2{
        background-image: linear-gradient(rgb(35, 204, 35),rgb(171, 179, 182));
   border-radius: 4%;
   margin-right: 530px;
   margin-left: 65px ;
   padding-left: 30px;
   padding-right: 25px ;
    }
   
    .center-5{
        width: 53%;
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 100px;
        padding-left: 25px;
       box-shadow: 10px 10px 20px;
       border-radius: 10px 20px 30px 40px;
       background-image: url(shape-3.png);
       background-repeat: no-repeat;
    }

    .Navas{
        color: rgb(75, 194, 158);
    }

    .photo-4{
        max-width: 35%;
        flex-basis:30%;
        display: flex;
        flex-basis:50%;
        margin-top: 8%;
        margin-right: 2em;
        padding-bottom: 6em;
           
    }


        .motivated{
            text-align: center;
            color:rgb(60, 96, 214);
    border-top-left-radius: 100%;

        }
        .learning{
            color: rgb(75, 194, 158);
        }

        .end{
            color: rgb(233, 77, 108);
        }

        

       .f-assignment-end{
        text-align:center;
        background-color: rgb(6, 6, 14) ;
            color: whitesmoke;
            padding-top: 50px;
       }


    